
body {
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    margin:0;
    background-color:  #eeeeee;   
    min-height: 100vh; 
}

header , footer {
    background-color:  #b82424;   
    padding: 30px;
    color: white;
}

.baslik {
    text-align: center;
}

footer {
    height: auto;
}

header > div {
    width: 80%;
    margin: auto;
}



main {
    padding-top: 20px;
    padding-bottom: 50px;
    color: black;
    margin: auto;
    width: 75%;
    flex: 1 ;    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

nav {    
    background-color: #b82424;
    font-family: Arial;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  

nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav button{
    background-color: #b82424;
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.dropdown {
    float: left;
    overflow: hidden;
    /*visibility: visible;*/
    display: none;
}

.giris{
    /*visibility: visible;*/
    display: block;
}

.anasayfa{
    visibility: hidden;
    
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
nav a:hover, .dropdown:hover .dropbtn, button:hover {
    background-color: #ff3535;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    /*right: 0;*/
    background-color: #f9f9f9;
    min-width: 160px;
}
  

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  

.dropdown-content a:hover {
    background-color: #ddd;
}
  

.dropdown:hover .dropdown-content {
    display: block;
}
  
nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

  
#araBtn {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ff3535;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
#araBtn:hover {
    background-color: #ff6767;
}

.profilBaslik{
    width: 100%;
    height: 200px;
    background-color: #bbbbbb;
    display: flex;
    flex-direction: row;
    color: black;
}

.pfoto{
    width: 20%;
    padding: 10px;
}

.pfotocerceve{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.pfotocerceve > img {
    object-fit: fill;
    width: 180px;
    height: 180px;
}

.kullanici{
    width: 55%;
}


.k_Ad{
    height: 20%;
    padding-left: 10px;
}

.k_Aciklama{
    height: 60%;
    padding: 10px;
    overflow: hidden;
    word-wrap: break-word;
}

.takip{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.takipIc{
    display: flex;
    flex-direction: row;
    max-height: 60%;
    padding-top: 5%;
}

.takipIc > div{
    width: 65%;
    text-align: center;
}

.takipBtn{
    max-height: 40%;    
    height: 40%;
    padding: 5%;
}

#takipEt{
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #dddddd;
}

#takipEt:hover{
    background-color: #eeeeee;
}
