.icerik{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    
}

.parca{
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: #cccccc;
    margin-bottom: 10px;
    cursor: pointer;
}

.ibilgibolme{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ifotobolme{
    width: 20%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.ifotocerceve{
    aspect-ratio: 1/1;
    height: 100%;
}

.ifotocerceve > img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.ibilgi_ana{
    height: 70%;
    margin: auto;
    width: 95%;
    padding-left: 5%;
    text-align: left;
}
.ibilgi_alt{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

.ibilgi_alt1{
    width: 50%;
}

.ibilgi_alt2{
    width: 50%;
}

.ibilgi_ana > p{
    overflow: hidden;
    word-wrap: break-word;
}